#name {
	border-radius: 0;
}

.hidden {
	visibility: hidden;
}

.btn-width {
	width: 100%;
}
.search_result{
    background: #FFF;
    border: 1px #ccc solid;
    width: 400px;
    display:none;
    z-index: 10;
}

.search_result li{
    list-style: none;
    padding: 5px 10px;
    margin: 0 0 0 -40px;
    color: #00a3e8;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
}

.search_result li:hover{
    background: #fdffa8;
}